<footer class="site-footer site-footer--footer7">
    <div class="site-footer__inner site-footer__inner--blocks">
        <div class="site-footer__blocks-split">
            <div class="site-footer__brand-column site-footer__brand-column--social">
                {{{footer_brand_column_html}}}
                {{{footer_social_html}}}
            </div>
            <div class="site-footer__columns-grid">
                {{{footer_sections_html}}}
            </div>
        </div>
        <div class="site-footer__bar site-footer__bar--footer7">
            <p class="site-footer__legal">{{footer_text}}</p>
            {{{footer_legal_html}}}
        </div>
    </div>
</footer>
