<div class="dev-mobile-mockup">
    <div class="dev-mobile-mockup__canvas">
        <div class="dev-mobile-mockup__screen">
            <iframe id="preview-frame" src="{{preview_url}}" title="{{preview_frame_title}}"></iframe>
        </div>
        <svg class="dev-mobile-mockup__overlay" viewBox="0 0 483 974" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
            <image href="/assets/img/dev/mobile-mockup-frame.png" width="483" height="974"></image>
        </svg>
    </div>
</div>
